body {
    margin:                 0;
    padding:                5em 7em;
    font-family:            Arial;
    letter-spacing:         -.01em;
}
a { color:                  black; text-decoration: none; }
h1 { margin:                0 }
#job-title {
    margin:                 2em 0;
    font-weight:            normal;
    font-style:             italic;
}
#infos {
    margin-bottom:          5em;
    margin-top:             0;
    font-style:             italic;
}
.unboxed {
    padding-left:           0em;
    border-left:            1px dotted white;
    margin-bottom:          5em;
}
.page-width { width:        61em }
.col-width { width:         30em }
.col {
    display:                inline-block;
    vertical-align:         top;
}
#photo {
    width:                  12em;
    height:                 12em;
    display:                inline-block;
    margin-right:           6em;
    vertical-align:         top;
    border-radius:          50%;
    background-color:       grey;
    background-image:       url('large_thberrid.jpg');
    background-position:    center;
    background-size:        cover;
}
h2, h3, h4 { font-weight: normal }
main { margin-top:          3em }
main h2, main h3, main h4 { margin-bottom: 0; }
main p { margin-top: .5em; margin-bottom: 3em; }