@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("fonts/Montserrat-Light.woff");
}
@font-face {
    font-family: "Montserrat";
	font-weight: 500;
    font-style: normal;
    src: url("fonts/Montserrat-Medium.woff");
}
@font-face {
    font-family: "Montserrat";
	font-weight: 900;
    font-style: normal;
    src: url("fonts/Montserrat-Black.woff");
}
a { text-decoration: none }
a:hover {
	background-color: #232323;
	color: #f5f5f5
}
body { 
	background-color: #f5f5f5;
	padding: 0;
	margin: 4em;
}
body, a { color: #232323}
body { font-family: "Montserrat", Arial, sans-serif }
h1 { margin: 0 }
h1, h2 {
	font-weight: 900;
	text-transform: uppercase
}
h2, .intro { font-size: 1.2em }
h3, .intro { font-weight: 500 }
.col {
	display: inline-block;
	vertical-align: top
}
.col-left {
	width: 15em;
	margin-right: 4em
}
.date {
	margin-top: 0;
	margin-bottom: 4em;
	font-size: 1.4em;
}
header, .col-right { width: 30em }
header { 
	padding-left: 19em;
	margin-bottom: 4em
}
.section { margin-bottom: 4em }
p, h3, h4, li {
	font-size: 1em;
	margin-top: 2em; 
}
p, h4, ul { font-weight: 100 }
ul {
	list-style-type: none;
	padding: 0
}

@media screen and ( max-width: 60em ) {
	body { 
		margin: 10%;
	}
	header { 
		padding-left: 0;
	}
	header, .col-right, .col-left { width: auto }
}

@media print {
	body {
		background-color: white;
		font-size: .725em 
	}
}